<!DOCTYPE html>
<html>

<head>
    <title>Registerion Menu</title>
    <script type="module" src="../js/register.js"></script>
</head>

<h2>Register a user for <br> SAI: Reimagined
</h2>

<body>
    <button id="back">Back</button>
    <div class="register">
        <form id="register" action="../views/adminRegistration.html">
            <label><b>User Name</b></label>
            <input type="text" name="Uname" id="Uname" placeholder="Username" />
            <br><br> <br>
            <label><b>Password</b></label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <input type="Password" name="ConfirmPass" id="ConfirmPass" placeholder="Confirm Password">
            <br><br>
            <label><b>Role</b></label>
            <input type="text" name="role" id="role" placeholder="Role">
            <br><br>
            <input type="submit" name="confirm" id="confirm" value="Confirm Registration">
        </form>
    </div>
</body>

</html>