<!DOCTYPE html>
<html>

<head>
    <title>SAI: Reimagined</title>
    <script type="module" src="../js/entry.js"></script>
</head>

<body>
    <h2>SAI Login
    </h2><br>
    <div class="login">
        <form id="login" method="post">
            <label><b>User Name     
        </b>    
        </label>
            <input type="text" name="Uname" id="username" placeholder="Username">
            <br><br>
            <label><b>Password     
        </b>    
        </label>
            <input type="Password" name="Pass" id="pwrd" placeholder="Password">
            <br><br>
            <button name="log" id="log" >Log in Here!</button>
            <br><br>
        </form>
    </div>
</body>



</html>